<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img class="picture" src="logo.png">
            <div class="search_box">
                <div class="text">
                    <p>Text Size: <a href="#">Normal</a> | <a href="#">Large</a></p>
                </div>
                <div class="form">
                    <form>
                        <input type="text" id="search" name="search" placeholder="Search">
                        <label for="search"> GO </label>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="content2">
           
        </div>

        <div class="footer">
            <p>Help and General Contact</p>
            <p>Diversity Intitiatives</p>
            <p>Submit Website Bugs</p>
            <p>Copyright @2001-2016</p>
        </div>

    </div>
</body>

</html>