<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <img class="picture" src="python.png">
            <div class="search_box">
                <div class="text">
                    <p>Text Size: <a href="#">Normal</a> | <a href="#">Large</a></p>
                </div>
                <div class="form">
                    <form>
                        <input type="text" id="search" name="search" placeholder="Search">
                        <label for="search"> GO </label>
                    </form>
                </div>
            </div>
        </div>

        <div class="nav_bar">
            <nav>
                <a href="">About</a>
                <a href="">Downloads</a>
                <a href="">Documentation</a>
                <a href="">Community</a>
                <a href="">News</a>
                <a href="">Events</a>
            </nav>
        </div>
        <!-- margin: 0 auto; -->

        <div class="navi-list">
            <ul>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Audio/Visual Talks</a></li>
                <li><a href="#">Beginner's Guide</a></li>
                <li><a href="#">Developer's Guide</a></li>
                <li><a href="#">PEP Index</a></li>
                <li><a href="#">Python Books</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="content">
            <p>First appearing in 1991, Python is a ds as dnod sao dna adason sai asndo asdnosd ansa sad sad sadas dasd
                din asdo asndi asdsao asdnsa asdas sad sa ds ad asd sda asdas dsa s asa d sad asds a </p>
            <p class="a"> Beautiful is better than ugly</p>
            <p class="a"> Explicit is better than implicit</p>
            <p class="a"> Simple is better than complex</p>
            <p class="a"> Complex is better than complicated</p>
            <p class="a"> Readability counts</p>
            <p> The Zen of Python</p>
        </div>

        <div class="content2">
            <div class="gettingStarted">
                <h2>Getting Started</h2>
                <p>Python can be easy to pick up whethere your are asdoi sadni sanosda or asod o asdio nscaonoa
                    ssconacnsaon
                    csac oncsoai oasncoinoasnc scani asocnosa csano</p>
                <ul>
                    <li>
                        <p class="list">Beginner's Guide, Programmers</p>
                    </li>
                    <li>
                        <p class="list">Beginner's Guide, Non-Programmers</p>
                    </li>
                    <li>
                        <p class="list">Code sample and snipplets for Beginners</p>
                    </li>
                </ul>
            </div>

            <div class="application">
                <h2>Applications</h2>
                <p>Application sda sda dsa asd asd as sad asds whethere your are asdoi sadni sanosda or asod o asdio
                    nscaonoa ssconacnsaon oncsoai oasncoinoasnc scani asocnosa csano</p>
                <ul>
                    <li>
                        <p class="list">Web and Internet Development</p>
                    </li>
                    <li>
                        <p class="list">Database Access</p>
                    </li>
                    <li>
                        <p class="list">Desktop GUIs</p>
                    </li>
                    <li>
                        <p class="list">Network Programming</p>
                    </li>
                    <li>
                        <p class="list">Software and Game Development</p>
                    </li>
                </ul>
            </div>

        </div>

        <div class="footer">
            <p>Help and General Contact</p>
            <p>Diversity Intitiatives</p>
            <p>Submit Website Bugs</p>
            <p>Copyright @2001-2016</p>
        </div>

    </div>
</body>

</html>